* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



body{
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
width: 100%;
height: 100vh;
align-items: center;
background-color: beige;
}

/*Header */

header {

    width: 80%;
    padding: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
   

}

/*Button format*/

.buttonStart{
    
    color: white;
    font-size: large;
    border: 3px solid purple;
    border-radius: 5px;
    background-color: purple;
    padding: 20px 26px;
    margin: 15px;
   
}

.buttonStart:hover{
    background-color: blueviolet;
}


/*box of QUIZ reminder text is not swrikning when box is smaller */ 

.quiz{
    width: 500px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px 2px;
}




/* TO UPDATE DE BOXES DISPLAY */
.hide {
    display: none;
}


/* ANSWER FORMAT*/

li{
    padding:5px;
    text-align: left;
}

/*ANSWER BUTTONS*/

.buttonAns{

    color: white;
    font-size: large;
    border: 3px solid purple;
    border-radius: 5px;
    background-color: purple;
    padding: 10px;


}

.buttonAns:hover{
    background-color: pink;
}



