* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



body{
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
width: 100%;
height: 100vh;
align-items: center;
background-color: pink;
}

/*Header */

header {

    width: 80%;
    padding: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
   


}

/*box of QUIZ reminder text is not swrikning when box is smaller */ 

.quiz{
    justify-content: center;
    align-items: center;
    width: 500px;
    max-width: 75%;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px 2px;
}


